.dfm-feed-paper {
    display: flex;
    flex-direction: column;
}

.dfm-feed-wrapper {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 70% 25%;
}

.dfm-feed-post-list {
    list-style-type: none;
    width: 80%;
}

.dfm-feed-post-list-item {
    margin-bottom: 10px;
}

.dfm-feed-paper h4 {
    text-align: left;
    margin-left: 40px;
    padding-top: 10px;
}