.dfm-post-modal {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #292929;
    border-radius: 15px;
    color: white;
    min-width: 60%;
    min-height: 50%;
    margin: 10% 20%;
    padding: 60px;
    padding-top: 60px;
}

.dfm-post-modal header {
    position: absolute;
    padding: 5px;
    padding-left: 20px;
    top: 0;
}

.dfm-post-modal-comment {
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 5px;
    width: 20px;
}

.dfm-post-modal-close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
}

.dfm-post-modal-flag {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 5px;
    width: 20px;
}

.dfm-post-image {
    display: block;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    grid-column-start: 2;
    padding: 10px;
    margin-top: 30px;
}

.dfm-post-modal header {
    width: 90%;
    left: 3%;
}

.dfm-post-new-comment-field {
    min-width: 50%;
}

@media only screen and (max-width: 800px) {
    .dfm-post-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        max-height: 80%;
        margin: 5% 10%;
    }
    .dfm-post-image {
        display: block;
        max-width: 80%;
        max-height: 80%;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .dfm-post-modal-info {
        margin-top: 50px;
    }
}

.dfm-post-flag-modal {
    background-color: #292929;
    border-radius: 15px;
    color: white;
    min-width: 30%;
    min-height: 20%;
    margin: 10% 20%;
    padding: 60px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dfm-post-comment-modal {
    background-color: #292929;
    border-radius: 15px;
    color: white;
    min-width: 30%;
    min-height: 20%;
    margin: 10% 20%;
    padding: 60px;
    padding-top: 60px;
    display: grid;
    position: relative;
    padding-bottom: 20px;
}
.dfm-post-name-field, .dfm-post-description-field, .dfm-post-location-field, .dfm-post-timeline-field, .dfm-post-benefit-field, .dfm-post-budget-field {
    min-width: 50%;
}

.dfm-post-comment-column-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dfm-post-creation-modal-info-col-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dfm-post-creation-modal-info-col-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    padding-top: 20px;
}