.dfm-post-modal {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #292929;
    border-radius: 15px;
    color: white;
    min-width: 60%;
    min-height: 50%;
    margin: 10% 20%;
    padding: 10px;
    padding-top: 60px;
}

.dfm-post-modal header {
    position: absolute;
    top: 0;
}

.dfm-post-modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.dfm-post-image {
    display: block;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    grid-column-start: 2;
    padding: 10px;
    margin-top: 30px;
}

.dfm-post-modal header {
    width: 90%;
}

.dfm-post-new-comment-field {
    min-width: 50%;
}

@media only screen and (max-width: 800px) {
    .dfm-post-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        max-height: 80%;
        margin: 5% 10%;
    }
    .dfm-post-image {
        display: block;
        max-width: 80%;
        max-height: 80%;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .dfm-post-modal-info {
        margin-top: 50px;
    }
}